@import url('https://fonts.googleapis.com/css2?family=Tenor+Sans&display=swap');

/*============= ALIGNES ===============*/

.alignwide {
    width: 100%;
}

.alignfull {
    margin-left: calc(-100vw / 2 + 100% / 2);
    margin-right: calc(-100vw / 2 + 100% / 2);
    max-width: 1920px;
}

@media only screen and (min-width: 1920px) {
    .alignfull {
        width: 100vw !important;
        max-width: unset;
        /*margin-left: calc(-1 * (1920px - 1170px) / 2) !important;*/
        /*margin-right: calc(-1 * (1920px - 1170px) / 2) !important;*/
    }
}
/* =========== BASE CONFIG =========== */
html {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    font-family: "Tenor Sans", sans-serif;
    font-weight: 400;
    box-sizing: inherit;
}

body {
    background-color: white;
    /*max-width: 1920px;*/
    overflow-x: hidden;
    margin: 0 auto;
    width: auto;
    /*-webkit-box-shadow: 0 0 20px 5px #747474;*/
    /*box-shadow: 0 0 20px 5px #747474;*/
}


.container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 0 10px;
}
.container.second {
    max-width: 1540px;
    width: 100%;
    margin: 0 auto;
    padding: 0 10px;
}

.btn {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    /*max-width: 225px;*/
    width: 100%;
    /*height: 50px;*/
    background: transparent;
    border-radius: 5px;
    /*border: 1px solid #f6c4df;*/
    outline: none;
    font-family: 'Lato', sans-serif;
    color: #fff;
    font-size: 16px;
    font-weight: 300;
    cursor: pointer;
    transition: all 0.3s ease-in;
    /* Component 1 */

    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 22px 30px;
    gap: 10px;

    width: 273px;
    /*height: 64px;*/

    /* Akcent */
    background: linear-gradient(180deg, #E8C87E 0%, #AB8447 100%);
    border-radius: 10px;

    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;

}

.h1 {
    font-family: Tenor Sans;
    font-size: 40px;
    font-weight: 400;
    line-height: 46.8px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}

.h2 {
    font-family: Tenor Sans;
    font-size: 32px;
    font-weight: 400;
    line-height: 37.44px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}

.h3 {
    font-family: Tenor Sans;
    font-size: 24px;
    font-weight: 400;
    line-height: 28.08px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}

.h4 {
    font-family: Futura PT;
    font-size: 18px;
    font-weight: 400;
    line-height: 24.3px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}

.h5 {
    font-family: Futura PT;
    font-size: 14px;
    font-weight: 400;
    line-height: 17.95px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}

#header {
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1)), linear-gradient(270.11deg, rgba(0, 0, 0, 0.1) 0%, rgba(255, 255, 255, 0.1) 99.22%);
    border-bottom: 2px solid #FFFFFF33;
    backdrop-filter: blur(30px);
    box-shadow: 0px 15px 30px 0px #0000004D;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
}

#header > div > div.phone > div > div:nth-child(1) {
    display: flex;
    gap: 10px;
}

#header > div {
    padding: 15px 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#banner .container.second {
    display: flex;
    flex-direction: column;
    gap: 60px;
    align-items: flex-start;
    height: 83vh;
    justify-content: center;
    z-index: 1;
}

#banner .title {
    /* Производство стальных дверей с установкой по индивидуальным размерам */

    width: 880px;
    height: 141px;

    /* H1 */
    font-family: 'Tenor Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 47px;
    text-transform: uppercase;

    /* Background 2 */
    color: #FFFFFF;


    /* Inside auto layout */
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    position: relative;

}

#banner .subtitle {
    /* Закажите входную дверь от производителя по вашим индивидуальным размерам со скидкой. */

    width: 650px;
    height: 56px;

    /* H3 */
    font-family: 'Tenor Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;

    /* Background 2 */
    color: #FFFFFF;

    opacity: 0.7;

    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;

}

#banner .swiper-slide:before {
    position: absolute;
    width: 100%;
    height: 100%;
    content: '';
    background: black;
    opacity: .5;
}


#banner .top {
    display: grid;
    gap: 20px;
}

.swiper-button-next, .swiper-button-prev, .swiper-pagination {
    position: relative !important;
}
#banner .pag-holder {
    display: flex;
    gap: 30px;
    max-width: 360px;
    width: 100%;
    position: relative;
    bottom: 112px;
    left: 195px;
}

#mini-adv .adv {
    max-width: 382px;
    width: 100%;
    height: 288px;
    padding: 30px;
    box-shadow: 0px 15px 30px 0px #B4925D33;
    display: grid;
    gap: 20px;
}

#mini-adv .main-info {
    display: grid;
    gap: 10px
}

#mini-adv .adv-holder2 {
    display: flex;
}



#mini-adv .first {
    width: 322.5px;
    height: 31px;
    font-family: 'Futura PT';
    font-style: normal;
    font-weight: 450;
    font-size: 24px;
    line-height: 31px;
    color: #161717;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

#mini-adv .second {
    font-family: 'Futura PT';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 135%;
    color: #808285;
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
    position: relative;
}


.numbers {
    /* 01 */

    width: 322.5px;
    height: 47px;

    /* H1 */
    font-family: 'Tenor Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 47px;
    /* identical to box height */
    text-transform: uppercase;

    /* Akcent */
    background: linear-gradient(180deg, #E8C87E 0%, #AB8447 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;


    /* Inside auto layout */
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;

}

.swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
    background: linear-gradient(180deg, #E8C87E 0%, #AB8447 100%) !important;
}

#header > div > div.phone > div > div:nth-child(2) {
    color: white;
}


#header > div > div.menu {
    display: flex;
    flex-direction: row;
    gap: 10px;
    height: fit-content;
}

#header > div > div.phone > div {
    display: flex;
    gap: 5px;
    flex-direction: column;
    align-items: flex-end;
}

#banner .slide-one {
    background-image: url("/images/banner1.png");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 83vh;
}

#banner .slide-two {
    background-image: url("/images/banner2.png");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 83vh;
}

.swiper-button-next:after,
.swiper-button-prev:after {
    content: unset !important;
}

.nav-menu {
    /* Виды дверей */

    /*width: 93px;*/
    height: fit-content;

    /* H4 */
    font-family: 'Futura PT';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 135%;
    /* or 24px */
    text-align: center;

    /* Background 2 */
    color: #FFFFFF;
    text-decoration: none;


    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
    flex-shrink: 0;

}

.phone-number {
    /* +7 (915) 100-02-19 */

    width: 204px;
    height: 28px;

    /* H3 */
    font-family: 'Tenor Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    /* identical to box height */
    text-align: right;

    /* Akcent */
    background: linear-gradient(180deg, #E8C87E 0%, #AB8447 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;


    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;

}

#tabs-block {
    background: #F4EDDE;
}

#tabs-block > div > div.title {
    padding-top: 100px;
    font-family: 'Tenor Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 47px;
    text-align: center;
    text-transform: uppercase;
    color: #161717;
}

#tabs-block > div {
    display: grid;
    gap: 60px;
    padding-bottom: 20px;
}

.tabs-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tabs {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 20px;
    max-width: 720px;
    justify-content: center;
}

.tab-button {
    /* Component 2 */

    box-sizing: border-box;

    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    gap: 10px;

    width: fit-content;
    color: #AB8447;
    /* Hover */
    border: 2px solid #AB8447;
    border-radius: 10px;


}

.tab-button.active, .tab-button:hover {
    background: linear-gradient(180deg, #E8C87E 0%, #AB8447 100%);
    color: white;
}

.tab-content {
    display: none;
    margin-top: 40px;
}

.tab-content.active {
    display: flex;
    gap: 20px;
}

.content {
    flex: 1;
}

.content h2 {
    margin-top: 0;
}

.content p {
    margin-bottom: 40px;
    margin-top: 10px;
    /* Lorem ipsum dolor sit amet consectetur. Mattis dictumst morbi donec iaculis fringilla at etiam. Tempus ornare sagittis quis etiam ullamcorper pretium auctor pharetra. A in ac suscipit mauris nunc posuere. Imperdiet cras orci augue eget tincidunt facilisis. Egestas facilisis proin quisque arcu massa eget interdum lobortis. Nisl nisl lacus lectus amet consectetur nisl risus. Odio fringilla in aenean donec. Amet venenatis et nisl dolor a sagittis suspendisse. Nam habitasse eu nam amet et turpis quis enim. */

    width: 590px;
    height: 144px;

    /* H4 */
    font-family: 'Futura PT';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 135%;
    /* or 24px */

    /* Text */
    color: #808285;


    /* Inside auto layout */
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;

}

.order-button {
    padding: 10px 20px;
    background-color: #ffcc00;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.images {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.images img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

.gallery img {
    width: 100px;
    height: 100px;
}

.gallery {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

div.content > h2 {
    width: 590px;
    height: 37px;
    font-family: 'Tenor Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 37px;
    color: #161717;
    flex: none;
    order: 0;
    align-self: stretch;
}

#about-block {
    position: relative;
    display: flex;
}

#about-block:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: black;
    opacity: .8;
    z-index: 1;
}
#form:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: black;
    opacity: .8;
}
#form > div {
    position: relative;
    z-index: 2;
}

#form .title {
    /* Почему стоит работать с нами? */

    /*position: absolute;*/
    width: 1170px;
    height: 47px;
    left: calc(50% - 1170px/2);
    top: 100px;

    /* H1 */
    font-family: 'Tenor Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 47px;
    /* identical to box height */
    text-align: center;
    text-transform: uppercase;

    /* Background 2 */
    color: #FFFFFF;

}

#about-block > div {
    position: relative;
    z-index: 2;
}

#about-block .title {
    /* Почему стоит работать с нами? */

    /*position: absolute;*/
    width: 1170px;
    height: 47px;
    left: calc(50% - 1170px/2);
    top: 100px;

    /* H1 */
    font-family: 'Tenor Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 47px;
    /* identical to box height */
    text-align: center;
    text-transform: uppercase;

    /* Background 2 */
    color: #FFFFFF;

}

#about-block .holder {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    justify-content: center;
    height: 100%;
    gap: 60px;
}



#about-block .blocks {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(370px, 1fr));
    width: 100%;
}

#about-block .blocks .block {
    position: relative;
    height: 370px;
}

#about-block .blocks .block:before {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.9) 100%);
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 4;
    position: absolute;
}

#about-block .blocks .block img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#about-block .blocks .block .subtitle {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 20px;
    /* Собственое производство */
    width: 100px;
    z-index: 5;

    /* H3 */
    font-family: 'Tenor Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;

    /* Background 1 */
    color: #FAFBFB;


    /* Inside auto layout */
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;

}


#slider-1 > div >  div > div.title {
    width: 1022px;
    height: 47px;
    font-family: 'Tenor Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 47px;
    text-transform: uppercase;
    color: #161717;
    flex: none;
    order: 0;
    flex-grow: 1;
}

#slider-1 .info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

#slider-1 .title-slided {

    /* Двери одностворчатые */

    width: 270px;
    height: 24px;

    /* H4 */
    font-family: 'Futura PT';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 135%;
    /* or 24px */
    text-align: center;

    /* H1 */
    color: #161717;


    /* Inside auto layout */
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;

}

#slider-1 .slide-subtitle {
    /* Lorem ipsum dolor sit amet consectetur. Urna nunc egestas quis. */

    width: 270px;
    height: 48px;

    /* H4 */
    font-family: 'Futura PT';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 135%;
    /* or 24px */
    text-align: center;

    /* Text */
    color: #808285;


    /* Inside auto layout */
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;

}

#slider-1 {
    background: #F4EDDE;
    padding-top: 100px;
    padding-bottom: 40px;
}

#slider-1 > div {
    position: relative;
}

#slider-1 > div > div:nth-child(1) {
    display: flex;
    align-items: center;
    gap: 50px;
    margin-bottom: 40px;
}


#slider-1 .swiper-button-next svg,
#slider-1 .swiper-button-prev svg {
    width: 44px !important;
    height: 44px !important;
}

#slider-1 .swiper-button-next,
#slider-1 .swiper-button-prev {
    width: 44px !important;
    height: 44px !important;
}

#slider-2 > div >  div > div.title {
    width: 1022px;
    height: 47px;
    font-family: 'Tenor Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 47px;
    text-transform: uppercase;
    color: #161717;
    flex: none;
    order: 0;
    flex-grow: 1;
}

#slider-2 .info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

#slider-2 .title-slided {

    /* Двери одностворчатые */

    width: 270px;
    height: 24px;

    /* H4 */
    font-family: 'Futura PT';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 135%;
    /* or 24px */
    text-align: center;

    /* H1 */
    color: #161717;


    /* Inside auto layout */
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;

}

#slider-2 .slide-subtitle {
    /* Lorem ipsum dolor sit amet consectetur. Urna nunc egestas quis. */

    width: 270px;
    height: 48px;

    /* H4 */
    font-family: 'Futura PT';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 135%;
    /* or 24px */
    text-align: center;

    /* Text */
    color: #808285;


    /* Inside auto layout */
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;

}

#slider-2 {
    background: #F4EDDE;
    padding-top: 100px;
    padding-bottom: 40px;
}

#slider-2 > div {
    position: relative;
}

#slider-2 > div > div:nth-child(1) {
    display: flex;
    align-items: center;
    gap: 50px;
    margin-bottom: 40px;
}


#slider-2 .swiper-button-next svg,
#slider-2 .swiper-button-prev svg {
    width: 44px !important;
    height: 44px !important;
}

#slider-2 .swiper-button-next,
#slider-2 .swiper-button-prev {
    width: 44px !important;
    height: 44px !important;
}

#slider-2 .swiper {
    overflow: unset !important;
}

#slider-2 > div > div.btn {
    width: fit-content !important;
    max-width: unset !important;
    white-space: nowrap;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
}

#slider-3 > div >  div > div.title {
    width: 1022px;
    height: 47px;
    font-family: 'Tenor Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 47px;
    text-transform: uppercase;
    color: #161717;
    flex: none;
    order: 0;
    flex-grow: 1;
}

#slider-3 .info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 730px;
    padding: 20px;
    background: white;
}

#slider-3 .swiper {
    overflow: unset;
}

#slider-3 .title-stock {
    font-family: 'Tenor Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 37px;
    color: #161717;
}

#slider-3 .text {
    /* Lorem ipsum dolor sit amet consectetur. Elit erat pellentesque eget dolor donec a diam ultrices. Amet vel vel ullamcorper lectus sed egestas massa. Habitant pellentesque hendrerit amet pellentesque nisi commodo consectetur lectus phasellus. Massa in placerat ac libero purus nibh. In in viverra est nunc molestie. */

    width: 690px;
    height: 96px;

    /* H4 */
    font-family: 'Futura PT';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 135%;
    /* or 24px */

    /* Text */
    color: #808285;


    /* Inside auto layout */
    flex: none;
    /*order: 1;*/
    align-self: stretch;
    flex-grow: 0;

}

#slider-3 .stock {
    border: 2px solid #E8C87E;
    padding: 10px;
    display: grid;
    gap: 10px;
}

#slider-3 .price {
    display: flex;
    gap: 10px;
    align-items: center;
}

#slider-3 .bot {
    display: flex;
    justify-content: space-between;
}

.btn.w100 {
    width: fit-content;
    max-width: unset;
    white-space: nowrap;
}

#slider-3 .swiper-slide {
    max-width: 770px;
    margin-right: 10px;
}

#slider-3 .price-value {
    /* 120 000 руб */

    width: 169.5px;
    height: 24px;

    /* H4 */
    font-family: 'Futura PT';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 135%;
    /* or 24px */

    /* Text */
    color: #808285;


    /* Inside auto layout */
    flex: none;
    /*order: 1;*/
    align-self: stretch;
    flex-grow: 0;

}

#slider-3 .title-slided {

    /* Двери одностворчатые */

    width: 270px;
    height: 24px;

    /* H4 */
    font-family: 'Futura PT';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 135%;
    /* or 24px */
    text-align: center;

    /* H1 */
    color: #161717;


    /* Inside auto layout */
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;

}

#slider-3 .slide-subtitle {
    /* Lorem ipsum dolor sit amet consectetur. Urna nunc egestas quis. */

    width: 270px;
    height: 48px;

    /* H4 */
    font-family: 'Futura PT';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 135%;
    /* or 24px */
    text-align: center;

    /* Text */
    color: #808285;


    /* Inside auto layout */
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;

}

#slider-3 {
    background: #F4EDDE;
    padding-top: 100px;
    padding-bottom: 40px;
}

#slider-3 > div {
    position: relative;
}

#slider-3 > div > div:nth-child(1) {
    display: flex;
    align-items: center;
    gap: 50px;
    margin-bottom: 40px;
}


#slider-3 .swiper-button-next svg,
#slider-3 .swiper-button-prev svg {
    width: 44px !important;
    height: 44px !important;
}

#slider-3 .swiper-button-next,
#slider-3 .swiper-button-prev {
    width: 44px !important;
    height: 44px !important;
}


#about-block-two > div {
    padding-top: 100px;
    padding-bottom: 264px;
}

#about-block-two > div > div > div.right-side > img {
    max-width: 570px;
    height: 459px;
    object-fit: cover;
    border-radius: 10px
}

#about-block-two .holder {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

#about-block-two .title {
    /* О нашей компании */

    width: 570px;
    height: 47px;

    /* H1 */
    font-family: 'Tenor Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 47px;
    /* identical to box height */
    text-transform: uppercase;

    /* H1 */
    color: #161717;


    /* Inside auto layout */
    flex: none;
    /*order: 0;*/
    align-self: stretch;
    flex-grow: 0;
    margin-bottom: 20px;

}

#about-block-two .desc {
    /* Lorem ipsum dolor sit amet consectetur. Egestas posuere amet arcu id tellus. Aenean amet eu blandit sit aenean cursus accumsan. Non tortor eu rhoncus fusce diam. Rhoncus egestas congue vulputate dui eleifend. Id purus velit luctus nisi nisl integer nunc molestie. Nunc eget arcu rhoncus et. Egestas amet diam dui ligula et ullamcorper faucibus rhoncus. Adipiscing id elit diam ornare potenti justo arcu. Dictumst nullam lectus in pretium enim porta integer. Nunc quam ut feugiat enim. Duis cursus dolor id convallis purus tellus eleifend. Adipiscing pulvinar interdum porta et consequat eget ornare molestie. Enim adipiscing turpis pretium at risus. Senectus arcu a quam in at phasellus. Dolor pretium scelerisque nulla eget tortor et eget nec amet. Dolor auctor habitant urna adipiscing eu etiam diam malesuada. Consequat magna ac amet vestibulum in. Sed in accumsan velit nisl cursus ac. Massa ut purus aliquam duis et nibh ullamcorper. */

    width: 570px;
    /*height: 288px;*/

    /* H4 */
    font-family: 'Futura PT';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 135%;
    /* or 24px */

    /* Text */
    color: #808285;


    /* Inside auto layout */
    flex: none;
    /*order: 1;*/
    margin-bottom: 40px;
    align-self: stretch;
    flex-grow: 0;

}

#about-block-two .container {
    position: relative;
}

#about-block-two .holder-abs {
    display: flex;
    gap: 20px;
    bottom: -208px;
    position: absolute;
    left: 0;
}


#about-block-two .block {
    background: white;
    padding: 20px;
}

#about-block-two .info {
    border: 2px solid #E8C87E;
    padding: 20px;
    display: grid;
    gap: 10px;
}


#about-block-two .desc-bot {
    display: flex;
    /* display: grid; */
    /* grid-template-columns: 1fr 1fr; */
    gap: 10px;
}

#about-block-two .desc-bot svg {
    flex-shrink: 0;
}

#about-block-two .texts {
    /* Lorem ipsum dolor sit amet consectetur. Eget vel nisl aliquam dignissim odio vitae bibendum vel iaculis. */


    /* H4 */
    font-family: 'Futura PT';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 135%;
    /* or 24px */

    /* Text */
    color: #808285;


    /* Inside auto layout */
    /*flex: none;*/

}

#about-block-two .title-bot {
    /* Заказывая двери у нас */

    width: 510px;
    height: 24px;

    /* H4 */
    font-family: 'Futura PT';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 135%;
    /* or 24px */

    /* H1 */
    color: #161717;

    margin-bottom: 20px;

}

#works {
    background: #F4EDDE;
    padding-top: 372px;
    padding-bottom: 60px;
}

#works .title {
    /* Примеры выполненных проектов */
    margin-bottom: 60px;

    /* H1 */
    font-family: 'Tenor Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 47px;
    /* identical to box height */
    text-align: center;
    text-transform: uppercase;

    /* H1 */
    color: #161717;


}

#works .block {
    background: white;
    padding: 20px;
}

#works .info {
    padding: 20px;
    border: 2px solid #E8C87E;

    position: relative;
    /*border-image-source: linear-gradient(180deg, #E8C87E 0%, #AB8447 100%);*/

}

#works .date {
    font-family: 'Futura PT';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 135%;
    color: #E8C87E;
}

#works .sl-title {
    /* Название проекта */
    

    /* H2 */
    font-family: 'Tenor Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 37px;

    /* H1 */
    color: #161717;


    /* Inside auto layout */
    flex: none;
    /*order: 1;*/
    align-self: stretch;
    flex-grow: 0;

}

#works .swiper-button-prev {
    position: absolute !important;
    right: 100px;
    top: 50px;
    left: unset;
}


#works .swiper-button-next {
    position: absolute !important;
    right: 50px;
    top: 50px;
    left: unset;
}

#works .swiper-button-prev,
#works .swiper-button-next  {
    width: 44px;
    height: 44px;
}

#works .top {
    margin-bottom: 30px;
}

#works .char {
    /* Характеристики */

    /* H3 */
    font-family: 'Tenor Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    /* identical to box height */

    /* H1 */
    color: #161717;

    margin-bottom: 30px;

}

#works .at {
    display: flex;
    gap: 10px;
    align-items: center;
}

#works .atr {
    display: grid;
    gap: 10px;
    margin-bottom: 30px;
    grid-template-columns: 1fr 1fr;
}

#works .gallery-atr img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 30px;
}
#works .gallery-atr {
    display: flex;
    gap: 20px;
    margin-bottom: 30px;
}

#works .bot {
    display: flex;
    gap: 10px;
    justify-content: space-between;
    align-items: center;
}

#works .price-value {
    font-family: 'Futura PT';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 135%;
    color: #808285;
    margin-top: 10px;
}

#works .chars {
    display: flex;
    gap: 15px;
}

#works .text-atr {
    /* Lorem ipsum dolor sit amet consectetur. */

    width: 510px;
    height: 24px;

    /* H4 */
    font-family: 'Futura PT';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 135%;
    /* or 24px */

    /* Text */
    color: #808285;


}


#about {
    position: relative;
    display: flex;
}

#about:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: black;
    opacity: .8;
    z-index: 1;
}

#about > div {
    position: relative;
    z-index: 2;
    display: flex;
}


#about .title {
    /* Закажите выезд замерщика */

    width: 570px;
    height: 94px;

    /* H1 */
    font-family: 'Tenor Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 47px;
    text-transform: uppercase;

    /* Background 2 */
    color: #FFFFFF;



}
#about .holder {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

#about .desc {
    /* Lorem ipsum dolor sit amet consectetur. Elit erat pellentesque eget dolor donec a diam ultrices. Amet vel vel ullamcorper lectus sed egestas massa. Habitant pellentesque hendrerit amet pellentesque nisi commodo consectetur lectus phasellus. Massa in placerat ac libero purus nibh. In in viverra est nunc molestie. Nec in quisque ac morbi ultrices ullamcorper pellentesque gravida. Morbi massa lacus aenean feugiat praesent euismod risus faucibus penatibus. */

    width: 570px;
    height: 144px;

    /* H4 */
    font-family: 'Futura PT';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 135%;
    /* or 24px */

    /* Background 2 */
    color: #FFFFFF;

    opacity: 0.7;


}

#about .left-side {
    display: grid;
    gap: 30px;
    align-items: start;
}

#about > div > div > div.right-side > img {
    bottom: -20px;
    position: relative;
}

#slider-4 > div >  div > div.title {
    width: 1170px;
    height: 47px;
    font-family: 'Tenor Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    text-align: center;
    line-height: 47px;
    text-transform: uppercase;
    color: #161717;
    flex: none;
    order: 0;
    margin-bottom: 60px;
    flex-grow: 1;
}

#slider-4 .img {
    width: 70px;
    height: 70px;
    border-radius: 10px;
    background: gray;
}

#slider-4 {
    display: flex;
    gap: 10px;
    padding-bottom: 134px !important;
}

#slider-4 .info {
    background: white;
    padding: 10px;
}

#slider-4 .top  {
    display: flex;
    gap: 10px;
}

#slider-4 .block {
    padding: 20px;
    /* border: 2px solid; */
    border: 2px solid #E8C87E;
    display: grid;
    gap: 20px;
}

#slider-4 .bot {
    /* Lorem ipsum dolor sit amet consectetur. Elit erat pellentesque eget dolor donec a diam ultrices. Amet vel vel ullamcorper lectus sed egestas massa. Habitant pellentesque hendrerit amet pellentesque nisi commodo consectetur lectus phasellus. */

    width: 310px;
    height: 144px;

    /* H4 */
    font-family: 'Futura PT';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 135%;
    /* or 24px */

    /* Text */
    color: #808285;



}

#slider-4 .name {
    /* Имя */

    width: 220px;
    height: 28px;

    /* H3 */
    font-family: 'Tenor Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    /* identical to box height */

    /* H1 */
    color: #161717;


    /* Inside auto layout */
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    margin-bottom: 10px;
}

#slider-4 {
    background: #F4EDDE;
    padding-top: 100px;
    padding-bottom: 40px;
}

#slider-4 > div {
    position: relative;
}

#slider-4 > div > div:nth-child(1) {
    display: flex;
    align-items: center;
    gap: 50px;
    margin-bottom: 40px;
}


#slider-4 .swiper-button-next svg,
#slider-4 .swiper-button-prev svg {
    width: 44px !important;
    height: 44px !important;
}

#slider-4 .swiper-button-next,
#slider-4 .swiper-button-prev {
    width: 44px !important;
    height: 44px !important;
    position: absolute !important;
    bottom: -70px;
    top: unset;
    right: 0;
    left: unset;
}

#slider-4 .swiper-button-prev {
    right: 50px;
}

#form > div {
    display: flex;
    align-items: center;
}

#form {
    display: flex;
    position: relative;
}

#form .form {
    border: 14px solid #E8C87E;
    display: grid;
    gap: 20px;
    background: white;
    padding: 20px;
    width: 570px;
}

#form .holder {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;
    padding: 100px 0;
}

#map .contacts {
    width: 400px;
    padding: 20px;
    box-shadow: 0px 15px 30px 0px #0000004D;
    background: white;
    display: grid;
    gap: 20px;
}

#map .bot {
    display: flex;
    gap: 5px;
    align-items: center;
}

#map .holder {
    padding: 80px 0;
}

#form .title-form {
    /* Заполните форму и мы свяжемся с вами */

    width: 490px;
    height: 74px;

    /* H2 */
    font-family: 'Tenor Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 37px;
    text-align: center;

    /* H1 */
    color: #161717;


}

#map .top {
    /* Адрес */

    width: 340px;
    height: 18px;

    /* H5 */
    font-family: 'Futura PT';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    /* identical to box height */

    /* Text */
    color: #808285;

    margin-bottom: 5px;
}

body > footer > div {
    display: flex;
    justify-content: space-between;
    padding: 30px 10px !important;
}

footer {
    background: #161717;
}

footer .privacy-policy,
footer .dev {
    /* Политика конфиденциальности */


    /* H4 */
    font-family: 'Futura PT';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 135%;
    /* or 24px */
    text-align: center;

    /* Text */
    color: #808285;

    opacity: 0.25;

}

body > footer > div > a {
    display: flex;
    gap: 5px;
    align-items: center;
}

.inputs {
    border: unset;
    outline: unset;
    border-bottom: 2px solid #E8C87E;
    padding-left: 20px;
    padding-bottom: 5px;
}

#map .title {
    /* Контактная информация */

    width: 340px;
    height: 28px;

    /* H3 */
    font-family: 'Tenor Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    /* identical to box height */

    /* H1 */
    color: #161717;

}